<p>Cadastro de livros</p>


<p *ngIf="mostrarMensagem">Esta, mensagem e exibida condicionamente</p> 
<button (click)="togleMensagem()">Alternar Mensagem</button>

<ul>
  <li *ngFor="let item of listaItens">
    {{ item }}
  </li>
</ul>

<div [ngClass]="{'Destaque': isDestaque, 'erro': haserror}">
  Este div muda de cor com base na variável mostrarMensagem
</div>

<button (click)="togleDestaque()">Alternar Destaque</button>

<div [ngStyle]="{'background-color': cordeFundo, `font_size`: tamanhoFonte}">
  Este div muda de cor com base na variável cordeFundo e tamanhoFonte
</div>
<app-listar-component></app-listar-component>